{% extends "Layout_Employer.html" %}
{% block body %}

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-8 col-6">
                        <h4 class="page-title">Job Applications</h4>
                    </div>
                    <br><br><br>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>Applicant Name</th>
                                        <th>Job Title</th>
                                        <th>Job Type</th>
                                        <th>Job Level</th>
                                        <th>Select</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="{{url_for('EmployeeProfile')}}" class="avatar">
                                                <img src="{{url_for( 'static', filename='assets/img/profile.jpg' )}} "></a>
                                            <h2>
                                                <a href="{{url_for('EmployeeProfile')}}">Shaney Waris <div class="doc-prof"></div>
                                                </a>
                                            </h2>

                                        </td>
                                        <td>
                                            ML Engineer
                                        </td>
                                        <td>
                                            <a class="custom-badge status-blue " href="#" aria-expanded="false">
                                                Technical Job
                                            </a>
                                        </td>
                                        <td>
                                            <a class="custom-badge status-orange " href="#" aria-expanded="false">
                                                Entry Level
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <a href="{{url_for('FixMeeting')}}" class="btn btn-outline-primary take-btn">Select</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{url_for('EmployeeProfile')}}" class="avatar">
                                                <img src="{{url_for( 'static', filename='assets/img/profile1.jpg' )}} "></a>
                                            <h2>
                                                <a href="{{url_for('EmployeeProfile')}}">Srijan Jain <div class="doc-prof"></div>
                                                </a>
                                            </h2>

                                        </td>
                                        <td>
                                            Android Developer
                                        </td>
                                        <td>
                                            <a class="custom-badge status-blue " href="#" aria-expanded="false">
                                                Technical Job
                                            </a>
                                        </td>
                                        <td>
                                            <a class="custom-badge status-red " href="#" aria-expanded="false">
                                                Senior Level
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <a href="#" class="btn btn-outline-primary take-btn">Select</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{url_for('EmployeeProfile')}}" class="avatar">
                                                <img src="{{url_for( 'static', filename='assets/img/profile3.jpg' )}} "></a>
                                            <h2>
                                                <a href="{{url_for('EmployeeProfile')}}">Gursimran Kaur <div class="doc-prof"></div>
                                                </a>
                                            </h2>

                                        </td>
                                        <td>
                                            Managing partner
                                        </td>
                                        <td>
                                            <a class="custom-badge status-green " href="#" aria-expanded="false">
                                                Non-Technical Job
                                            </a>
                                        </td>
                                        <td>
                                            <a class="custom-badge status-red " href="#" aria-expanded="false">
                                                Senior Level
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <a href="#" class="btn btn-outline-primary take-btn">Select</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{url_for('EmployeeProfile')}}" class="avatar">
                                                <img src="{{url_for( 'static', filename='assets/img/profile2.jpg' )}} "></a>
                                            <h2>
                                                <a href="{{url_for('EmployeeProfile')}}">Hrithik Malhotra <div class="doc-prof"></div>
                                                </a>
                                            </h2>

                                        </td>
                                        <td>
                                            HR Consultant
                                        </td>
                                        <td>
                                            <a class="custom-badge status-green " href="#" aria-expanded="false">
                                                Non-Technical Job
                                            </a>
                                        </td>
                                        <td>
                                            <a class="custom-badge status-orange " href="#" aria-expanded="false">
                                                Entry Level
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <a href="#" class="btn btn-outline-primary take-btn">Select</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll" id="msg_list">
                        <ul class="list-box">
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Richard Miles </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item new-message">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">John Doe</span>
                                            <span class="message-time">1 Aug</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Tarah Shropshire </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Mike Litorus</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Catherine Manseau </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">D</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Domenic Houston </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">B</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Buster Wigton </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Rolland Webber </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Claire Mapes </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Melita Faucher</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Jeffery Lalor</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">L</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Loren Gatlin</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Tarah Shropshire</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="chat.html">See all messages</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="delete_approve" class="modal fade delete-modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46">
                        <h3>Are you sure want to delete this Leave Request?</h3>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}