{% extends "Layout_Employees.html" %}
{% block body %}

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-8 col-6">
                        <h4 class="page-title">

                            <b style="color: #606EB3;">Congratulations </b>You have been selected for <b>Interview</b> in the following companies</h4>
                    </div>
                    <br><br><br>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th>Job Title</th>
                                        <th>Job Type</th>
                                        <th>Job Level</th>
                                        <th>Meeting Date</th>
                                        <th>Meeting Time</th>
                                        <th>Accept</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a class="avatar" href="#">C</a>
                                            <h2><a href="#">Company-1</a></h2>
                                        </td>
                                        <td>
                                            ML Engineer
                                        </td>
                                        <td>
                                            <a class="custom-badge status-blue " href="#" aria-expanded="false">
                                                Technical Job
                                            </a>
                                        </td>
                                        <td>
                                            <a class="custom-badge status-orange " href="#" aria-expanded="false">
                                                Entry Level
                                            </a>
                                        </td>
                                        <td>
                                            24 August 2020
                                        </td>
                                        <td>
                                            11:00 AM
                                        </td>
                                        <td class="text-left">
                                            <a href="{{url_for('startMeeting')}}" class="btn btn-outline-primary take-btn">Start Meeting</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="avatar" href="#">C</a>
                                            <h2><a href="#">Company-2</a></h2>

                                        </td>
                                        <td>
                                            Android Developer
                                        </td>
                                        <td>
                                            <a class="custom-badge status-blue " href="#" aria-expanded="false">
                                                Technical Job
                                            </a>
                                        </td>
                                        <td>
                                            <a class="custom-badge status-red " href="#" aria-expanded="false">
                                                Senior Level
                                            </a>
                                        </td>
                                        <td>
                                            24 August 2020
                                        </td>
                                        <td>
                                            11:00 AM
                                        </td>
                                        <td class="text-left">
                                            <a href="{{url_for('startMeeting')}}" class="btn btn-outline-primary take-btn">Start Meeting</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="avatar" href="#">C</a>
                                            <h2><a href="#">Company-3</a></h2>

                                        </td>
                                        <td>
                                            Managing partner
                                        </td>
                                        <td>
                                            <a class="custom-badge status-green " href="#" aria-expanded="false">
                                                Non-Technical Job
                                            </a>
                                        </td>
                                        <td>
                                            <a class="custom-badge status-red " href="#" aria-expanded="false">
                                                Senior Level
                                            </a>
                                        </td>
                                        <td>
                                            24 August 2020
                                        </td>
                                        <td>
                                            11:00 AM
                                        </td>
                                        <td class="text-left">
                                            <a href="{{url_for('startMeeting')}}" class="btn btn-outline-primary take-btn">Start Meeting</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="delete_approve" class="modal fade delete-modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46">
                        <h3>Are you sure want to delete this Leave Request?</h3>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}